{# Used to display one specific built building (with level, icon & tooltip) #}

{% set buildingName = builtBuilding.building.name %}
{% set buildingLevel =  builtBuilding.level %}
{% set requirement = '' %}
{% if builtBuilding.building.constructionRequirements[buildingLevel-1].requiredTitle != '' %}
    {% set Title =  ('Titles.'~builtBuilding.building.constructionRequirements[buildingLevel-1].requiredTitle.name) | trans([], 'City') %}
    {% set requirement = '<br>Nécessite le titre '~Title %}
{% endif %}

<li
        data-building-name="{{ buildingName }}"
        data-building-level="{{ buildingLevel }}"
        onmouseover="mt.js.Tip.show(this,
        '<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{('buildings.'~buildingName~'.name') | trans([], 'City')}} {{'messages.lvl' | trans([], 'City')}} {{ buildingLevel }}</h1><p>{{('buildings.'~buildingName~'.desc') | trans([], 'City')}} {{requirement}}</p></div></div></div>')"
        onmouseout="mt.js.Tip.hide()"
>
    <h3>{{('buildings.'~buildingName~'.name') | trans([], 'City')}}</h3>
    <img src="{{ asset('/img/icons/b_'~buildingName~'.png') }}" alt="{{ buildingName }}.png" class="building" />
    {% if buildingLevel > 1 %}
        <img src="{{ asset('/img/level'~buildingLevel~'.png') }}" alt="level_{{ buildingLevel }}.png" class="level">
    {% endif %}
</li>