{# Loads unlocked projects from controller #}

{% trans_default_domain 'City' %}

{% set buildingName = buildingProject['construction'].name %}
{% set buildingType = buildingProject['construction'].constructionType %}
{% set buildingLevel =  buildingProject['level'] %}

{% set requirement = '' %}
{% if buildingProject['construction'].constructionRequirements[buildingLevel-1].requiredTitle != '' %}
    {% set Title =  ('Titles.'~buildingProject['construction'].constructionRequirements[buildingLevel-1].requiredTitle.name) | trans %}
    {% set requirement = '<br>' ~ 'messages.build.requiresTitle' | trans ~ Title %}
{% endif %}  

{% set buildingBlock = 'block_buildings' %}
{% set link = "document.location = '/city/"~app.request.get('id')~"/startConstruction/"~buildingName~"_"~buildingLevel~"'" %}
{% if buildingProject['buildable'][0] == false %}
    {% set buildingBlock = 'block_buildings disable' %}
    {% set link = "" %}
{% endif %} 

{% if buildingType == 'building' %}
    {% set description = (buildingType~'s.'~buildingName~'.desc') | trans %}
    {% if buildingLevel > 1 %}
        {% set description = (buildingType~'s.'~buildingName~'.upgradeDesc') | trans %}
    {% endif %}
{% endif %} 
{% if buildingType == 'unit' %}
    {% set description = (buildingType~'s.'~buildingName~'.buildDesc') | trans %}
{% endif %} 

<li class= "{{ buildingBlock }}" onclick="{{ link }}">
    <img class="level" src="{{ asset('/img/level' ~ buildingLevel ~ '.png') }}" alt="LevelIcon"
        onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><strong>{{ 'messages.level' | trans }} <span>{{ buildingLevel }}</span></strong></div></div></div>')"
        onmouseout="mt.js.Tip.hide()"
    > 
	<img class="building" src="{{ asset('/img/icons/' ~ buildingType|slice(0,1) ~ '_' ~ buildingName ~ '.png') }}" alt="BuildingIcon">
	<img class="help" src="{{ asset('img/help.gif') }}" alt="helpIcon"
        onmouseover="mt.js.Tip.show(this,
        '<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{(buildingType~'s.'~buildingName~'.name') | trans()}}</h1>{{ description }}</p><div class=&quot;require&quot;>{{ requirement }}</div></div></div></div>')"
        onmouseout="mt.js.Tip.hide()"
    >
	<h1>{{ (buildingType ~ 's.' ~ buildingName ~ '.name') | trans }}</h1>

	<div class="needact" 
        onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Tours</h1></div></div></div>')"
        onmouseout="mt.js.Tip.hide()">{{ buildingProject['construction'].orderedSchemas[buildingLevel]['remainingHammers'].amount }} 
        <img src="{{ asset('img/icons/icon_hammer.gif') }}" alt="Required Hammers">
    </div>

	<ul class="ires">
        {% for schema in buildingProject['construction'].orderedSchemas[buildingLevel] %}
            {% set resourceName = schema.resource.name %}
            {% if resourceName != 'remainingHammers' %}
                {% set resourceBlock = 'number' %}
                {% if buildingProject['buildable'][resourceName] == false %}
                    {% set resourceBlock = 'number need' %}
                {% endif %}
                    {% set amount = schema.amount %}
                    <li>
                        <div class="sres">
                            <img src="{{ asset('/img/icons/small/res_' ~ resourceName ~ '.gif') }}" alt="Resource requirement">
                            <span class="{{ resourceBlock }}">{{ amount }}</span>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}																											
	</ul>
</li>


