{# Templates/base.html.twig #}
{# BaseSkeletton of all pages #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="tid_js tid_no-touch tid_draganddrop tid_websockets">
    <head>
        {# TODO: Include local language here + two translations for city and description #}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>EternalKingdom {% block title %}{% endblock %}</title>
        <meta name="description" content={% block metaDescription %}"Arriverez-vous à vaincre les famines et à établir votre Royaume ?"{% endblock %} />
        <meta name="language" content="" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/design.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}
        {% endblock %}

        <script type="text/javascript" src="{{ asset('js/std.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app_2.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bar.css') }}" />
        {% block javascripts %}
        {% endblock %}
    </head>

    <!--[if lte IE 6]><body class="ie ie6 "><script type="text/javascript" src="http://data.muxxu.com/js/iewarn.js"></script><![endif]-->
    <!--[if IE 7]><body class="ie ie7 "><![endif]-->
    <!--[if IE 8]><body class="ie8 "><![endif]-->
    <!--[if !IE]>-->
    <body class="mx_twinoid tid_webkit tid_v537 tid_lang_fr">
        <div id="tooltip" class="normalTip" style="top: -1000px; position: absolute; z-index: 10; left: 790px;">
            <div id="tooltipContent">
                <div class="tiptop">
                    <div class="tipbottom">
                        <div class="tipbg">
                            <h1>Title</h1>
                            Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tid_baseNotice" style="display: none;">
            <div class="tid_black"></div>
            <div class="tid_wrapper">
                <div class="tid_box">
                    <div class="tid_close"></div>
                    <div class="tid_content"></div>
                </div>
            </div>
        </div>
        <div id="tid_noticeList" style="display: none;"><div class="tid_wrapper"></div></div>

        <div class="mxtophead" id="mxtop">
            <div class="mxtopmenu">
                <div class="mxtopmenucontent"></div>
            </div>
            <div class="mxhead">
                <a href="/" class="logo"><img src="{{ asset('img/pixel.gif') }}" alt="" /></a>

                <div class="mxmainmenu">
                    <div class="cache">
                        {% block cache %}
                        {% endblock %}
                    </div>

                    {% include 'navbar.html.twig' %}
                </div>

                <div class="mxtopmaincontent">
                    <div class="mxbottommaincontent">
                        <div class="mxbordermaincontent">
                            <div class="mxcontent" id="mxcontent">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mxbottom">
                <a href="http://muxxu.com/go/cgu" target="_blank">Règlements</a>
                · <a href="http://muxxu.com/go/support" target="_blank">Support</a> · <a href="http://muxxu.com/user/lostPassword">Oubli de code secret</a> · © 2021
                <!-- <a href="http://muxxu.com/go/mt" target="_blank"><img src="{{ asset('Assets/logo_mt.gif') }}" alt="Motion Twin" title="" /></a> -->
            </div>
        </div>

        <script type="text/javascript">
            document.body.className += " mx_twinoid";
        </script>

        <div id="tid_bar_custom_content">
        {# Disable by Bibni - Increase Loading time since assets are missing?
            <a class="tid_button" href="http://muxxu.com/go/bank"><span id="utoken">GogolePlex</span> <img src="./Assets/token.png" alt="" /></a>
            <!--<a class="tid_button" href="http://muxxu.com/"><img src="./Assets/faviconMuxxu.ico" /> Aller sur Muxxu</a>
        #}
        </div>

        <script type="text/javascript">
            __tid = { lang: "fr", chk: "fa3585711bd98d51b07df328be75c3de", ver: "397", infos: "oy6:realIdi498008y5:tokeny32:89b8f0e7c0c70cbbe173018669490cb2y6:twinIdi4380g" };
        </script>
        {# Disable by Bibni
        <script type="text/javascript" src="{{ asset('js/boot.js') }}"></script>
        #}
        <div id="tid_bar_down" class="tid_safe_bar_down">
            <div class="tid_footer">
                <style type="text/css">
                    #tid_bar_down {
                        font-size: 9pt;
                    }
                    #tid_bar_down th {
                        text-align: left;
                    }
                </style>

                <a class="tid_bigLogo" style="display: none;" href="http://twinoid.com/"><img src="{{ asset('img/design/logo_large.png') }}" alt="Twinoid" title="Twinoid" /></a>

                <div class="tid_left">
                    <div class="tid_block tid_desc tid_mt">
                        <div class="tid_title">
                            <a href="http://motion-twin.fr/" target="_blank"><img src="{{ asset('img/mtlogo.png') }}" alt="Motion Twin" title="Motion Twin" /></a>
                        </div>
                        <a href="http://motion-twin.fr/" target="_blank">Motion Twin</a> est un studio indépendant dans lequel on met du café pour que des jeux vidéo en sortent. Notre but dans la vie&nbsp;? Faire des jeux de qualité avec
                        des outils open source&nbsp;!

                        <div class="tid_social">
                            <a href="http://facebook.com/motiontwin" target="_blank"> <img src="{{ asset('img/social/facebook-32.png') }}" /> </a>
                            <a href="http://twitter.com/motiontwin" target="_blank"> <img src="{{ asset('img/social/twitter-32.png') }}" /> </a>
                            <a href="http://motion-twin.fr/press" target="_blank"> <img src="{{ asset('img/social/contact-32.png') }}" /> </a>
                        </div>
                    </div>

                    <div class="tid_block tid_desc tid_twinoid">
                        <div class="tid_title"><img src="{{ asset('/img/design/logo_small.png') }}" alt="Twinoid" title="Twinoid" /></div>
                        Twinoid est le réseau asocial de Motion Twin. Il vous permet, avec un seul compte, de jouer à tous nos jeux.

                        <div class="tid_links">
                            <a href="http://twinoid.com/support/twinoid" target="_blank">Support</a> |
                            <a href="http://twinoid.com/support/cgu" target="_blank">Règlement</a>

                            | <a href="http://twinoid.com/tid/history">Développeurs</a>
                        </div>
                        <div class="tid_server" title="Heure et nom du serveur">17:56 (sur <strong>web2</strong>)</div>
                    </div>
                </div>

                <div class="tid_right">
                    <div class="tid_block tid_links">
                        <div class="tid_title">Autres jeux</div>
                        <ul>
                            <li><a href="https://eternalfest.net/">EternalFest</a></li>
                            <li><a href="https://zombvival.de/myhordes/">My Hordes</a></li>
                            <li class="tid_all"><a href="https://eternal-twin.net/games">Tous les jeux...</a></li>
                        </ul>
                    </div>
                </div>

                <div class="tid_clear"></div>
            </div>
        </div>

        <script type="text/javascript">
            //_.initFrame(true,null)
        </script>
    </body>
</html>
