{# Navigation bar. #}

{% set isConnected = true %}
{% set isInGame = true %}

{% trans_default_domain 'Common' %}

<ul>
    {% if isConnected == false %}
        <li>
            <a href="{{ path("homepage") }}">
                <img src="{{ asset('img/menu/home.gif') }}" />
                {{ 'navbar.home' | trans }}
            </a>
        </li>
    {% elseif isInGame == false %}
        <li>
            <a href="{{ path("homepage") }}">
                <img src="{{ asset('img/menu/map.gif') }}" />
                {{ 'navbar.chooseWorld' | trans }}
            </a>
        </li>
    {% else %}
        {% set id = 1 %} {# Temporary solution to avoid 404 not found when navigating to another page than city or management! #}
        {% if app.request.get('id') %}
            {% set id = app.request.get('id') %}
        {% endif %}
        <li>
            <a href="{{ path("app_management_management", {id: id}) }}">
                <img src="{{ asset('img/menu/home.gif') }}" />
                {{ 'navbar.managament' | trans }}
            </a>
        </li>
        <li>
            {# href="map?c=mapID" #}
            <a href="{{ path("app_map_map") }}">
                <img src="{{ asset('img/menu/map.gif') }}" />
                {{ 'navbar.worldmap' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path("app_city_city", {id: id}) }}" class="active">
                <img src="{{ asset('img/menu/capital.gif') }}" />
                {{ 'navbar.city' | trans }}
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path("app_help_help") }}">
            <img src="{{ asset('img/menu/help.gif') }}" />
            {{ 'navbar.help' | trans }}
        </a>
    </li>
    <li>
        <a href="https://eternal-twin.net/forum/sections/407e8a9e-8c5a-4177-b13c-9a7d746c7d24">
            <img src="{{ asset('img/menu/forum.gif') }}" />
            {{ 'navbar.forum' | trans }}
        </a>
    </li>
    <li>
        {% if app.user %}
            <a href="{{ logout_url() }}">
                <img src="{{ asset('img/menu/logout.png') }}" />
                {{ 'navbar.logout' | trans }}
            </a>
        {% else %}
            <a href="{{ oauth_service.getAuthorizationUri('base', app.request.uri) }}">
                <img src="{{ asset('img/menu/login.png') }}" />
                {{ 'navbar.login' | trans }}
            </a>
        {% endif %}
    </li>
</ul>