{% extends 'base.html.twig' %}

{% trans_default_domain 'OutGame' %}

{% block title %}
    - L'heure de votre mort est finalement arrivée...
{% endblock %}
{% block metaDescription %}
    "Vous êtes un jeune chevalier avec beaucoup de potentiel... Soyez le bienvenu sur les terres de Kingdom et choisissez un Monde pour commencer la partie."
{% endblock %}

<div class="mxcontent" id="mxcontent">
    <h1 class="hdeath">L'heure de votre mort est finalement arrivée...</h1>

    <div class="artworkdeath"></div>

    <div class="deathtext">
        <p>
            Même les plus puissants sont soumis à l'appel de la mort... Vous êtes mort à l'âge de <b>
            21 ans et 8 mois
            </b> !
        </p>
        <p>
            Vous avez réussi à imposer vos forces sur <b>1 lieu</b>
            dans le monde de Eternal-twin.
        </p>
        <p>
            Les chansons des bardes raconteront vos exploits grâce à votre titre de "<b>Chevalier</b>".
        </p>

        <p>
            Votre nom entrera dans la légende jusqu'à la fin des temps !
        </p>
    </div>

    <div class="parchemin">
        <p><span>BibTimson</span> est mort...</p>
        <p>Vive <span>BibTimson</span> !</p>
    </div>

    <ul class="deathcontinue">
        <li><a href="/pantheon?uid=795" class="button">Visiter le Panthéon</a></li>
        <li><a href="/?restart=Ch8JdujY" class="button">Continuer</a></li>
    </ul>

    <div class="clear"></div>

    <div class="log">
        <h3>Vos dernières actions glorieuses avant votre décès :</h3>
        <ul>
            <li>
                <span class="datelog">Le 19 oct. à 02:55:06</span> -
                <img src="/img/icons/l_destroy.png">
                Suite à votre longue inactivité, votre Royaume s'est effondré après une longue décadence...
            </li>
            <li>
                <span class="datelog">Le 17 oct. à 20:50:25</span> -
                <img src="/img/icons/l_new.png">
                La ville de <a href="/map?c=785475">Les Thises-le-Bec</a> vous a été confiée et vous y avez établi votre capitale !
            </li>
        </ul>
    </div>
</div>