{# Templates/Game/ServerSelection.html.twig #}
{# Page to select the game to play (and possibly create a custom/private game) #}

{% extends 'base.html.twig' %}

{% block title %}
    - Choisir un Monde à conquérir
{% endblock %}
{% block metaDescription %}
    "Vous êtes un jeune chevalier avec beaucoup de potentiel... Soyez le bienvenu sur les terres de Kingdom et choisissez un Monde pour commencer la partie."
{% endblock %}

{% block content %}
    <div class="choose">
        <div class="artworkchoose"></div>

        <p><em>[NICKNAME]</em>, vous êtes un jeune chevalier avec beaucoup de potentiel... Soyez le bienvenu sur les terres de Kingdom. Pour commencer, <strong>choisissez le Monde </strong>que vous souhaitez conquérir :</p>

        <div class="tableleft"></div>
        <div class="tableright"></div>
        <table class="tablekingdom2">
            <tbody>
            <tr class="title">
                <th colspan="4">
                    Choix du Monde
                </th>
            </tr>
            {# CUSTOM SERVER EXAMPLE #}
            <tr>
                <td>
                    Monde de <a href="/map/3620">[WORLD NAME]</a>
                    <p><b>[GROUP NAME]</b></p>
                </td>
                <td>
                    <strong>0 / 32 joueurs</strong>
                    {# Débutant: unit_sold, Moyenne: unit_pal, Pro: unit_bal #}
                    <img src="{{ asset('img/icons/Small/unit_sold.gif') }}"
                         onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>Difficulté : Débutant</div></div></div>')"
                         onmouseout="mt.js.Tip.hide()">
                </td>
                <td>
                    <a href="/map/3620/select" class="button" onclick="return confirm('Confirmer cette action ?')">Rejoindre</a>
                </td>
                <td>
                    <a href="/map/3620">Carte</a>
                    <a href="/map/3620/ranks">Classement</a>

                    {# This permits to modify the rules for custom servers!!! #}
                    <!-- <a href="/map/create?mid=3620">Modifier</a> -->
                </td>
            </tr>
            {# REGULAR SERVER EXAMPLE #}
            <tr>
                <td>
                    Monde de <a href="/map/233">Poicolude</a>
                </td>
                <td>
                    <strong>33 / 77 joueurs</strong>
                    <img src="{{ asset('img/icons/small/unit_bal.gif') }}"
                         onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>Difficulté : Moyenne</div></div></div>')"
                         onmouseout="mt.js.Tip.hide()">
                    </td>
                <td>
                    <a href="/map/233/select" class="button" onclick="return confirm('Confirmer cette action ?')">Rejoindre</a>
                </td>
                <td>
                    <a href="/map/233">Carte</a>
                    <a href="/map/233/ranks">Classement</a>
                </td>
            </tr>
            <tr>
                <td colspan="5">N'hésitez pas à consulter <a href="/help">l'Aide du Jeu</a> pour plus d'informations</td>
            </tr>

            <tr class="lastr">
                <td colspan="5"></td>
            </tr>
            </tbody></table>
    </div>


{% endblock %}

