{# Templates/Help/help.html.twig #}
{# Index of the help page #}

{% extends 'base.html.twig' %}

{% block title %}
    -  Aide du jeu
{% endblock %}

{% block content %}
    <div class="helpcontent">
        <img class="screen" src="{{ asset('img/loc/fr/choose.jpg') }}">

        <h1><a href="/help">Aide</a> &gt; Rejoindre un Monde</h1>

        <div class="content">
            <p>
                Bienvenue sur Kingdom ! Votre but est simple : vous devez produire des ressources dans votre <b>capitale</b>, recruter des <b>soldats</b> et agrandir votre <b>royaume</b> afin d'espérer un jour devenir <b>Empereur</b> !
            </p>

            <p>
                Avant toute chose, vous avez le choix de rejoindre l'un des Mondes de Kingdom. Chaque Monde est séparé et possède sa propre carte. Vous pouvez rejoindre le monde d'un de vos amis ou un autre de votre choix.
            </p>

            <p>
                Une fois votre Monde choisi, une <b>capitale</b> vous est attribuée. Vous avez l'âge de 20 ans et l'avenir vous appartient.
            </p>

            <p>
                <span class="i">Difficulté</span> :
                vous commencez dans un monde de niveau débutant. En fonction de vos exploits, il vous sera plus tard proposé de rejoindre un monde de niveau de difficulté plus élevé.
            </p>
        </div>

        <div class="browse">
            <div class="prev">

            </div>
            <div class="next">
                <a href="/help?h=city"><span>Votre Capitale</span> <img src="{{ asset('img/next.gif') }}" alt="next"></a>
            </div>
        </div>

        <h2 class="menuhelp">Menu :</h2>

        <ul class="menuhelp">
            <li><a href="/help?h=join">Rejoindre un Monde</a>
            </li><li><a href="/help?h=city">Votre Capitale</a></li>
            <li><a href="/help?h=prod">La Production</a></li>
            <li><a href="/help?h=build">Les Bâtiments</a></li>
            <li><a href="/help?h=soldiers">Les Soldats</a></li>
            <li><a href="/help?h=general">Les Généraux</a></li>
            <li><a href="/help?h=battle">La Bataille</a></li>
            <li><a href="/help?h=vassal">Vassal et Suzerain</a>
            </li><li><a href="/help?h=glory">Gloire et Titre</a></li>
            <li><a href="/help?h=trade">Commerce</a></li>
            <li><a href="/help?h=rareres">Ressources rares</a></li>
            <li><a href="/help?h=gameover">Fin de partie</a></li>
            <li><a href="/help?h=diplo">Diplomatie</a></li>
            <li><a href="/help?h=advanced">Informations avancées</a></li>
        </ul>

        <div class="clear"></div>

    </div>
{% endblock %}