{# Templates/City/optionUpgradeSoldier.html.twig #}
{# City skeleton (It displays army, city options, resource stocks, grid and logs) #}

{% extends 'base.html.twig' %}

{% block title %}
    - Capitale
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/gameGrid.js') }}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block content %}
    <p class = "ServerData" data-grid="{{ lord.city.grid }}" data-lordId="{{ lord.id }}"></p>
    <ul class="resources rescity">
        {% for resourceName in ['wheat', 'gold', 'wood', 'iron', 'lin', 'horse'] %}
            {% set maxAmount = maxAmounts[resourceName] %}
            <li>
                <div
                        class="res"
                        onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ ('resources.'~resourceName~'.name') | trans([], 'City') }}</h1><div class=\'infos max\'>max : {{ maxAmount }}</div>{{ ('resources.'~resourceName~'.desc') | trans([], 'City') }}</div></div></div>')"
                        onmouseout="mt.js.Tip.hide()"
                >
                    <div class="resp">
                        <span class="n" data-max="{{ maxAmount }}">{{ lord.city.storageCount(resourceName) }}</span>
                    </div>
                    <img src="{{ asset('img/icons/res_'~resourceName~'.png') }}" alt="" class="" />
                </div>
            </li>
        {% endfor %}
    </ul>

    <h1 class="city">{{ lord.city.name }}</h1>
    <div class="h1">
        <div class="h1mid">
            <div class="h1bottom">
                <table class="city">
                    <tbody>
                    <tr>
                        <td>
                            <!-- UNITS -->
                            <div class="box1 unitsgar">
                                <div class="box1bottom">
                                    <div class="box1bg">
                                        <h2 class="h2a">{{ 'header.units' | trans([], 'City') }}</h2>
                                        {% set displayedArmy = false %}
                                        {% for unit in ['soldier', 'pikeman', 'archer', 'horseman', 'knight', 'mountedArcher', 'paladin', 'catapult', 'ballista'] %}
                                            {% if lord.city.storageCount(unit)>0 %}
                                                {% set displayedArmy = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if displayedArmy %}
                                            <ul class = "army items">                  
                                                {% for unit in ['soldier', 'pikeman', 'archer', 'horseman', 'knight', 'mountedArcher', 'paladin', 'catapult', 'ballista'] %}
                                                    <li>
                                                        <div class="item {% if lord.city.storageCount(unit)==0 %} disable{% endif %}"
                                                            onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ ('units.'~unit~'.name') | trans([], 'City') }}</h1>{{ ('units.'~unit~'.desc') | trans([], 'City') }}</div></div></div>')"
                                                            onmouseout="mt.js.Tip.hide()">
                                                            <img src="/img/icons/u_{{ unit }}.png" alt="">
                                                            <span class="number">{{ lord.city.storageCount(unit) }}</span>                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        <p class="nothing {% if displayedArmy %}hidden{% endif %}">
                                            {{ 'messages.noArmy' | trans([], 'City') }}
                                        </p>
                                            
                                            <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- OPTIONS -->
                            <div class="box1">
                                <div class="box1bottom">
                                    <div class="box1bg">
                                        <h2 class="h2d">{% block cityOptionsTitle %}{% endblock %}</h2>
                                        {% block cityOption %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>

                            <!-- BUILDINGS -->
                            <div class="box1">
                                <div class="box1bottom">
                                    <div class="box1bg">
                                        <h2 class="h2d">{{ 'header.buildings' | trans([], 'City') }}</h2>
                                        <ul class="listbuildings">
                                            {% if lord.city.builtBuildings|length > 0 %}
                                                {% for builtBuilding in lord.city.builtBuildings %}
                                                    {% include 'City/Components/building.html.twig' with {'builtBuilding': builtBuilding} %}
                                                {% endfor %}
                                            {% else %}
                                                <div class="clear"></div>
                                                <p class="nothing">
                                                    {{ 'messages.noWorker' | trans([], 'City') }}
                                                </p>
                                            {% endif %}
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="right">
                            <div class="box2">
                                <div class="box2bottom">
                                    <div class="box2bg">
                                        <h2 class="h2e cut">{{ 'header.population' | trans([], 'City') }} ({{ lord.city.populationCount }}) </h2>
                                        <ul class="population items">
                                            {% for jobName in ['farmer', 'lumberjack', 'worker', 'merchant', 'recruiter', 'citizen'] %}
                                                <li>
                                                <div
                                                        class="item {% if lord.city.storageCount(jobName)==0 %} disable {% endif %}"
                                                        onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ ('jobs.'~jobName~'.name') | trans([], 'City') }}</h1>{{ ('jobs.'~jobName~'.desc') | trans([], 'City') }}</div></div></div>')"
                                                        onmouseout="mt.js.Tip.hide()"
                                                >
                                                    <img src="{{ asset('img/icons/people_'~jobName~'.gif') }}" alt="" />
                                                    <span class="number">{{ lord.city.storageCount(jobName) }}</span>
                                                </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <script type="text/javascript">
                                    function wrongMessage() {
                                        alert("{{ 'messages.forbiddenSwap' | trans([], 'City') }}");
                                    }
                                </script>
                                <div class="puzzle">
                                    <div class="infos" id="turns">
                                                                        <span
                                                                                id="counter"
                                                                                onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>{{ 'messages.wastedTurns' | trans([], 'City') }}<b>1/21</b></div></div></div>')"
                                                                                onmouseout="mt.js.Tip.hide()"
                                                                        >
                                                                            {{ lord.city.remainingTurns }}
                                                                        </span>
                                        {{ 'messages.remainingTurns' | trans([], 'City') }} :
                                    </div>
                                    <div id="puzzleframe">
                                        <canvas id="puzzleCanvas"></canvas>
                                        <canvas id="frontCanvas"></canvas>
                                        <a class="puzzleturns disable">
                                            Oh ben c'est con t'as</br>
                                            plus de <img src="/img/icons/small/res_rec.gif"> <b>tours</b> !
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // mt.js.Tip.exclude("puzzle");
    </script>

    <div class="log">
        <h3>{{ 'header.logs' | trans([], 'City') }}</h3>
        <div class="teml">
            <ul>
            </ul>
        </div>
    </div>
{% endblock %}