{# Templates/City/optionUpgradeSoldier.html.twig #}
{# City index (no options has been selected - lighter to load since it doesn't to compute any options data) #}

{% extends 'City/city.html.twig' %}

{% trans_default_domain 'City' %}

{% block cityOptionsTitle %}
	{{ 'header.actions' | trans }}
{% endblock %}

{% block cityOption %}
	<div class="contactions">
		{% if lord.city.constructionProject != null %}
			{% set projectName = lord.city.constructionProject.name %}
			{% set projectType = lord.city.constructionProject.constructionType %}
			{% set remainingHammers = lord.city.storageCount('remainingHammers') %}
			<div class="build">
				<p class="firstp">{{ 'messages.pendingConstruction.message' | trans }}
					<b 
						onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ (projectType~'s.'~projectName~'.name') | trans([], 'City') }}</h1>{{ (projectType~'s.'~projectName~'.desc') | trans([], 'City') }}</div></div></div>')" 
						onmouseout="mt.js.Tip.hide()">
						{{ (projectType~'s.'~projectName~'.name') | trans }}
					</b>
					(<strong>{{ remainingHammers }}</strong> <img src="{{ asset('img/icons/icon_hammer.gif')}}" alt="Hammer Icon"> {{ 'messages.pendingConstruction.remaining' | trans }})
				</p>
			</div>
		{% endif %}

		{% set actionAvailable = false %}
		<ul class="actions">
			{% if lord.city.getStorageCount('worker') > 0 %}
				<li>
					{% set spanName = ('messages.build.start' | trans) %}
					{% set actionAvailable = true %}
					{% if lord.city.constructionProject != null %}
						{% set spanName = ('messages.build.list' | trans) %}
					{% endif %}
					<div onclick="document.location = '/city/{{ app.request.get('id') }}/chooseConstruction'">
						<img src="{{ asset('img/icons/a_build.png') }}" alt="Build Action">
						<span>{{ spanName }}</span>
					</div>
				</li>
			{% endif %}
			{% if lord.city.constructionProject != null %}
				{% set actionAvailable = true %}
				<li>
					<div onclick="document.location = '/city/{{ app.request.get('id') }}/cancelConstruction'">
						<img src="{{ asset('img/icons/a_nobuild.png') }}" alt="Cancel Construction Action">
						<span>{{ 'messages.build.cancel' | trans }}</span>
					</div>
				</li>
			{% endif %}
			{% if lord.city.buildingLevel('barracks') > 0 %}
				{% set actionAvailable = true %}
				<li>
					<div onclick="document.location = '/city/{{ app.request.get('id') }}/chooseSoldierUpgrade'">
						<img src="{{ asset('/img/icons/a_sold.png') }}" alt="Upgrade Units Action">
						<span>{{ 'header.soldierOptions' | trans }}</span>
					</div>
				</li>
				{% endif %}
			{% if lord.city.buildingLevel('cauldron') > 0 or lord.city.buildingLevel('butcher') > 0 or lord.city.buildingLevel('factory') > 0 %}
				{% set actionAvailable = true %}
				<li>
					<div onclick="document.location = '/city/{{ app.request.get('id') }}/chooseResourceConversion'">
						<img src="{{ asset('/img/icons/a_resconvert.png') }}" alt="Convert Resources Action">
						<span>{{ 'header.convertResources' | trans }}</span>
					</div>
				</li>
			{% endif %}
			{% set generalCount = 0 %}{# TODO Use lord.generals|length #}
			{% if lord.city.buildingLevel('headquarters') > 0 and generalCount < lord.city.buildingLevel('headquarters') %}
				{% set actionAvailable = true %}
				<li onmouseover="mt.js.Tip.show(this,
						'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ 'header.recruitGeneral' | trans }}</h1><strong class=\'wip\'>{{ 'messages.comingSoon' | trans([], "Common") }}</strong></br>{{ 'messages.recruitGeneral.desc' | trans }}<strong>{{ 50 * 2**generalCount }}</strong> <img src=\'{{ asset('img/icons/small/res_gold.gif') }}\'/>.</div></div></div>')"
					onmouseout="mt.js.Tip.hide()"
					class="disable"
				>
					<div onclick="document.location = '/city/{{ app.request.get('id') }}/chooseGeneralName';">
						<img src="{{ asset('/img/icons/a_gen.png') }}" alt="Recruit General Action">
						<span>{{ 'header.recruitGeneral' | trans }}</span>
					</div>
				</li>
			{% endif %}
		</ul>
		{% if actionAvailable == false %}
			<p class="nothing">
				{{ 'messages.noAction' | trans }}
			</p>
		{% endif %}
		<div class="clear">
		</div>
	</div>
{% endblock %}