{# Templates/City/optionChooseBuilding.html.twig #}
{# City option which permits to start a building project #}

{% extends 'City/city.html.twig' %}

{% block cityOptionsTitle %}
	{{ 'header.build' | trans([], 'City') }}
{% endblock %}

{% block cityOption %}
<ul class="buildings">
	{% for buildingProject in constructionProjects %}
		{% include 'City/Components/buildingProject.html.twig' with {'buildingProject': buildingProject} %}
	{% endfor %}
</ul>
<div class="clear"></div>
<a href="/city/{{ app.request.get('id') }}" class="button">{{ 'messages.back' | trans([], 'City') }}</a>
{% endblock %}