
{% extends 'City/city.html.twig' %}

{% block cityOptionsTitle %}
	{{ 'header.recruitGeneral' | trans([], 'City') }}
{% endblock %}

{% block cityOption %}
	<div class="centeredDiv">
		<p class="firstp">
			<strong class='wip'>{{ 'messages.comingSoon' | trans([], "Common") }}</strong></br>
			Merci de donner un nom à votre général :
		</p>

		<form action="/city/{{ app.request.get('id') }}/recruitGeneral" method="POST">
			<p>Nom : <input name="name" maxlength="20" class="inputtext"> <input type="submit" value="Valider" class="button"></p>
		</form>
	</div>
	<a href="/city/{{ app.request.get('id') }}" class="button">{{ 'messages.back' | trans([], 'City') }}</a>
{% endblock %}