.map_frame {
	width : 844px;
	height : 485px;
	margin-top : 12px;
	margin-left: 17px;
	position: relative;
	border: 1px solid #424242;

}
.map_frame h1 {
	margin : 0px;
	padding : 0px;
	background-image : none;
	position : absolute;
	letter-spacing : 1px;
	color : #fff;
	font-size : 11pt;
	width : 350px;
	margin-left : 252px;
	text-align : center;
	line-height : 19pt;
}
.map_frame #map_tip {
	background-color: #f2dfb9;
	border:1px solid #424242;
	position:absolute;
	width: 200px;
	height: 50px;
	top: 0px;
	left: 0px;
}
.map_frame #map_view {
	display: block;
	height: 100%;
	width: 100%;
}
.map_frame #map_click {
    display: none;
}
.map_frame .map_actions {
	position:absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}
.map_frame .map_actions ul{
	background-color: #424242;
	border-radius: 0 5px 5px 0;
}
.map_frame .map_actions ul li{
	padding: 5px;
}
.map_frame #map_sidebar {
	overflow:hidden;
	background-color: #424242;
	position:absolute;
	height: 486px;
	width: 0px;
	top: 0;
	left: 845px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.map_frame #map_sidebar *{
	color:#ddd;
}
#map_sidebar a {
	text-decoration: none;
}
#map_sidebar .closebtn {
	padding: 12px;
	font-size: 24px;
}

#map_sidebar h2 {
	font-size : 10pt;
	padding: 5px 10px;
}
#generals {
	background-color: #424242;
	width : 846px;
	margin-left: 17px;
}
#generals ul {
	padding: 4px 10px;
}
#generals ul li {
	display: inline-block;
	width: 137px;
	background : transparent url("/img/icons/gnr_mini.gif") no-repeat 0px 2px;
	padding-left : 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #ddd;
}