{# Templates/General/transferUnits.html.twig #}
{# Page to transfer units between the city and a general #}

{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[
        function enable(e,cond) {
            var v = cond ? 1. : 0.2;
            e.style.filter="progid:DXImageTransform.Microsoft.Alpha(opacity="+(v*100)+");";
            e.style.opacity = v;
        }

        function delta(label,n) {
            var c = document.getElementById("c"+label);
            var g = document.getElementById("g"+label);
            var i = document.getElementById("i"+label);
            var cv = Std.parseInt(c.innerHTML) - n;
            var gv = Std.parseInt(g.innerHTML) + n;
            if( cv < 0 ) {
                gv += cv;
                cv = 0;
            }
            if( gv < 0 ) {
                cv += gv;
                gv = 0;
            }
            i.value = cv;
            c.innerHTML = cv;
            g.innerHTML = gv;
            try {
                enable(c.parentNode,cv>0);
                enable(g.parentNode,gv>0);
                enable(document.getElementById("p"+label),cv>0);
                enable(document.getElementById("m"+label),gv>0);
                enable(document.getElementById("pp"+label),cv>=10);
                enable(document.getElementById("mm"+label),gv>=10);
            } catch( e ) {
                alert(e);
            }
        }
        //]]>
    </script>
{% endblock %}

{% block content %}
    <div class="mxcontent" id="mxcontent">
        <form method="POST" action="/general/1516858/units?submit=1">
            <input type="hidden" name="units" value="null">
            <div class="table2th_top">
                <h1>Général Bibni</h1>
                <div class="table2th_bottom">
                    <div class="table2th_bg">
                        <table class="units">
                            <tbody><tr>
                                <th>
                                    Palucheux
                                </th>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Soldat</h1>Un bon soldat qui fera bien son travail tant qu\'il sera payé.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_sold.png" alt=""><span class="n" id="csold">3</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Archer</h1>Grâce à ses flèches perçantes, un archer dispose d\'un bonus de +100% contre les piquiers et les paladins.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_arch.png" alt=""><span class="n" id="carch">0</span>
                                    </div>

                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Cavalier</h1>La rapidité du cavalier lui permet d\'obtenir un bonus de +100% contre les archers.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_cav.png" alt=""><span class="n" id="ccav">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Paladin</h1>L\'armure du paladin lui donne une forte robustesse qui saura décourager la plupart de ses adversaires.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_pal.png" alt=""><span class="n" id="cpal">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Piquier</h1>La longue lance du piquier lui donne un avantage de +150% contre les unités à cheval.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_piq.png" alt=""><span class="n" id="cpiq">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Chevalier</h1>La puissance du chevalier lui donne un avantage de +100% contre les soldats.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_chev.png" alt=""><span class="n" id="cchev">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Archer Monté</h1>Agile, rapide, resistant et polyvalent l\'archer monté permet d\'annuler tous les bonus des unités contre lesquelles il combat.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_caa.png" alt=""><span class="n" id="ccaa">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Baliste</h1>Une baliste est une unité ayant un bonus de +200% mais uniquement lors de la défense d\'une ville ou d\'un lieu.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_bal.png" alt=""><span class="n" id="cbal">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Catapulte</h1>Une catapulte est une unité ayant un bonus de +200% mais uniquement lors de l\'attaque d\'une ville ou d\'un lieu.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_cat.png" alt=""><span class="n" id="ccat">0</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Bibni</th>
                                <td>

                                    <div class="unit" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Soldat</h1>Un bon soldat qui fera bien son travail tant qu\'il sera payé.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 1;">
                                        <img src="/img/icons/unit_sold.png" alt=""><span class="n" id="gsold">0</span>
                                    </div>

                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Archer</h1>Grâce à ses flèches perçantes, un archer dispose d\'un bonus de +100% contre les piquiers et les paladins.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_arch.png" alt=""><span class="n" id="garch">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Cavalier</h1>La rapidité du cavalier lui permet d\'obtenir un bonus de +100% contre les archers.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_cav.png" alt=""><span class="n" id="gcav">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Paladin</h1>L\'armure du paladin lui donne une forte robustesse qui saura décourager la plupart de ses adversaires.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_pal.png" alt=""><span class="n" id="gpal">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Piquier</h1>La longue lance du piquier lui donne un avantage de +150% contre les unités à cheval.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_piq.png" alt=""><span class="n" id="gpiq">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Chevalier</h1>La puissance du chevalier lui donne un avantage de +100% contre les soldats.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_chev.png" alt=""><span class="n" id="gchev">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Archer Monté</h1>Agile, rapide, resistant et polyvalent l\'archer monté permet d\'annuler tous les bonus des unités contre lesquelles il combat.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_caa.png" alt=""><span class="n" id="gcaa">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Baliste</h1>Une baliste est une unité ayant un bonus de +200% mais uniquement lors de la défense d\'une ville ou d\'un lieu.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_bal.png" alt=""><span class="n" id="gbal">0</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit disable" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Catapulte</h1>Une catapulte est une unité ayant un bonus de +200% mais uniquement lors de l\'attaque d\'une ville ou d\'un lieu.</div></div></div>')" onmouseout="mt.js.Tip.hide()" style="opacity: 0.2;">
                                        <img src="/img/icons/unit_cat.png" alt=""><span class="n" id="gcat">0</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Actions</th>
                                <td>
                                    <input type="hidden" name="sold" value="0" id="isold">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="psold" class="plusone" onclick="return delta('sold',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="msold" class="minusone" onclick="return delta('sold',-1)" style="opacity: 1;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="ppsold" class="plusten" onclick="return delta('sold',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmsold" class="minusten" onclick="return delta('sold',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="arch" value="0" id="iarch">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="parch" class="plusone" onclick="return delta('arch',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="march" class="minusone" onclick="return delta('arch',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="pparch" class="plusten" onclick="return delta('arch',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmarch" class="minusten" onclick="return delta('arch',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="cav" value="0" id="icav">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="pcav" class="plusone" onclick="return delta('cav',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mcav" class="minusone" onclick="return delta('cav',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="ppcav" class="plusten" onclick="return delta('cav',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmcav" class="minusten" onclick="return delta('cav',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="pal" value="0" id="ipal">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="ppal" class="plusone" onclick="return delta('pal',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mpal" class="minusone" onclick="return delta('pal',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="pppal" class="plusten" onclick="return delta('pal',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmpal" class="minusten" onclick="return delta('pal',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="piq" value="0" id="ipiq">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="ppiq" class="plusone" onclick="return delta('piq',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mpiq" class="minusone" onclick="return delta('piq',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="pppiq" class="plusten" onclick="return delta('piq',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmpiq" class="minusten" onclick="return delta('piq',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="chev" value="0" id="ichev">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="pchev" class="plusone" onclick="return delta('chev',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mchev" class="minusone" onclick="return delta('chev',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="ppchev" class="plusten" onclick="return delta('chev',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmchev" class="minusten" onclick="return delta('chev',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="caa" value="0" id="icaa">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="pcaa" class="plusone" onclick="return delta('caa',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mcaa" class="minusone" onclick="return delta('caa',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="ppcaa" class="plusten" onclick="return delta('caa',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmcaa" class="minusten" onclick="return delta('caa',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="bal" value="0" id="ibal">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="pbal" class="plusone" onclick="return delta('bal',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mbal" class="minusone" onclick="return delta('bal',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="ppbal" class="plusten" onclick="return delta('bal',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmbal" class="minusten" onclick="return delta('bal',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <input type="hidden" name="cat" value="0" id="icat">
                                    <ul class="moreminus">
                                        <li>
                                            <a href="#" id="pcat" class="plusone" onclick="return delta('cat',1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mcat" class="minusone" onclick="return delta('cat',-1)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="ppcat" class="plusten" onclick="return delta('cat',10)" style="opacity: 0.2;"></a>
                                        </li>
                                        <li>
                                            <a href="#" id="mmcat" class="minusten" onclick="return delta('cat',-10)" style="opacity: 0.2;"></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul class="punits">
                <li><input type="submit" value="OK" class="button"></li>
                <li><a href="/map?g=1516858" class="button">Annuler</a></li>
            </ul>
        </form>

        <script type="text/javascript">
            delta('sold',0);
            delta('arch',0);
            delta('cav',0);
            delta('pal',0);
            delta('piq',0);
            delta('chev',0);
            delta('caa',0);
            delta('bal',0);
            delta('cat',0);
        </script>
    </div>
{% endblock %}