{# List item used to display one lord info #}

<li>
    {% set twigValue = value %}
    {% if type == 'title' or type == 'health' %}
        {% set twigValue = (type~'s.'~value) | trans([], 'Management') %}
    {% endif %}

    <img src="{{ asset('img/help.gif') }}"
         class="help"
         onmouseover="mt.js.Tip.show(this,
                 '<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>{{ title }}</h1>{{ tooltipText | raw }}</div></div></div>')"
         onmouseout="mt.js.Tip.hide()">
    <span class="dt">{{ title }} :</span>
    <b>{{ twigValue }}
        {% if extraIcon is defined %}
            <img src="{{ asset(extraIcon) }}">
        {% endif %}
    </b>
</li>