{# Templates/Management/management.html.twig #}
{# Lord Management page #}

{% extends 'base.html.twig' %}

{% block cache %}
    <img src="{{ asset('img/buttonover.gif') }}">
    <img src="{{ asset('img/firstover.gif') }}">
    <img src=""{{ asset('img/tabover.gif') }}"">
{% endblock %}

{% block content %}
    {% if lord is null %}
        Lord not found!!!
    {% endif %}

    {# TODO Cleanup html to have less lines !!! #}
    <h1 class="userh1_intabl">{{ lord.name }} (ID: {{ lord.id }})</h1>
    <table class="usertable">
        <tbody>
        <tr>
            <td class="left">
                <div class="box4">
                    <div class="box4bottom">
                        <div class="box4bg">
                            <h2 class="h2h">
                                Mes Infos
                            </h2>

                            <table class="infos">
                                <tbody>
                                <tr>
                                    {# TWINOID USER INFO PART (See the component TwinoidUserInfo.html.twig) #}

                                    {# LORD INFO #}
                                    <td>
                                        <ul>
                                            {% include 'Management/LordInfo.html.twig' with {
                                                'title': 'Titre',
                                                'value': lord.title,
                                                'type' : 'title',
                                                'tooltipText': 'Votre titre dépend de la Gloire que vous avez atteint à votre apogée'
                                            } %}
                                            {% include 'Management/LordInfo.html.twig' with {
                                                'title': 'Age',
                                                'value': lord.ageYear ~ ' ans et ' ~ lord.ageMonth~ ' mois',
                                                'type' : 'age',
                                                'tooltipText': "Votre âge augmente d\\'environ une semaine à chaque action de production dans votre capitale."
                                            } %}
                                            {% include 'Management/LordInfo.html.twig' with {
                                                'title': 'Santé',
                                                'value': lord.health,
                                                'type' : 'health',
                                                'tooltipText': 'Votre santé se déteriorera en fonction de votre âge. Faîtes attention car même les rois les plus puissants meurent un jour...'
                                            } %}
                                            {% include 'Management/LordInfo.html.twig' with {
                                                'title': 'Gloire',
                                                'value':  lord.glory,
                                                'type' : 'glory',
                                                'extraIcon': 'img/icons/l_up.png',
                                                'tooltipText': "Votre Gloire correspond à la taille de votre Royaume à laquelle s\\'ajoute la taille des Royaumes de vos vassaux."
                                            } %}
                                            {% include 'Management/LordInfo.html.twig' with {
                                                'title': 'Apogée',
                                                'value':  lord.maxGlory,
                                                'type' : 'maxGlory',
                                                'extraIcon': 'img/icons/l_up.png',
                                                'tooltipText': "Il s\\'agit de la Gloire maximum que vous avez atteint au cours de votre vie."
                                            } %}
                                            {% include 'Management/LordInfo.html.twig' with {
                                                'title': 'Commerce',
                                                'value':  0,
                                                'type' : 'trade',
                                                'extraIcon': 'img/icons/small/res_gold.gif',
                                                'tooltipText': "Le commerce est généré par les lieux que vous contrôlez dans votre royaume. Il s\\'agit de l\\'<em>or</em> que vous gagnez ou perdez après chaque tour de production"
                                            } %}
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            {# TODO Look if we have more actions here. In any case, buy turns will be removed!!! #}
                            <ul class="actions">
                                <li>
                                    <div class="disable" onclick="document.location = '/buy'">
                                        <img src="{{ asset('img/icons/a_turns.png') }}">
                                        <span>Acheter des Tours</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                {# Javascript handling TABS #}
                <script type="text/javascript">
                    //<![CDATA[
                    function tab(x) {
                        var a = ['generals', 'vassals', 'kingdom', 'diplo'];
                        for (var i = 0; i < a.length; i++) {
                            document.getElementById(a[i]).style.display = (a[i] == x) ? '' : 'none';
                            document.getElementById('t' + a[i]).className = (a[i] == x) ? 'active' : 'notactive';
                        }
                    }
                    //]]>
                </script>

                <ul class="tabs">
                    <li id="tgenerals" class="notactive">
                        <div class="first" onclick="tab('generals')">

                            <img src="{{ asset('img/help.gif') }}" class="help"
                                 onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'&gt;<div class=\'tipbottom\'&gt;<div class=\'tipbg\'&gt;<h1&gt;Généraux</h1&gt;Vos généraux sont les seuls qui peuvent transporter vos soldats et agrandir votre Royaume.</div&gt;</div&gt;</div&gt;')"
                                 onmouseout="mt.js.Tip.hide()">
                            Généraux
                        </div>
                    </li>
                    <li id="tvassals" class="active">
                        <div onclick="return tab('vassals')">

                            <img src="{{ asset('img/help.gif') }}" class="help"
                                 onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'&gt;<div class=\'tipbottom\'&gt;<div class=\'tipbg\'&gt;<h1&gt;Vassaux</h1&gt;Les seigneurs dont vous avez conquis la capitale deviendront vos vassaux ce qui vous permettra de les taxer.</div&gt;</div&gt;</div&gt;')"
                                 onmouseout="mt.js.Tip.hide()">
                            Vassaux
                        </div>
                    </li>
                    <li id="tkingdom" class="notactive">
                        <div onclick="return tab('kingdom')">

                            <img src="{{ asset('img/help.gif') }}" class="help"
                                 onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'&gt;<div class=\'tipbottom\'&gt;<div class=\'tipbg\'&gt;<h1&gt;Royaume</h1&gt;Tous les lieux que vous avez conquis, ainsi que les garnisons qui y sont stationnées.</div&gt;</div&gt;</div&gt;')"
                                 onmouseout="mt.js.Tip.hide()">
                            Royaume
                        </div>
                    </li>
                    <li id="tdiplo" class="notactive">
                        <div onclick="return tab('diplo')">

                            <img src="{{ asset('img/help.gif') }}" class="help"
                                 onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'&gt;<div class=\'tipbottom\'&gt;<div class=\'tipbg\'&gt;<h1&gt;Diplomatie</h1&gt;Résume vos accords diplomatiques que vous pouvez modifier à partir de la fiche de chaque joueur.</div&gt;</div&gt;</div&gt;')"
                                 onmouseout="mt.js.Tip.hide()">
                            Diplomatie
                        </div>
                    </li>
                </ul>

                <div class="boxtab">
                    <div class="boxtabbottom">
                        <div class="boxtabbg">
                            {# GENERALS #}
                            <div id="generals" style="display: none;">
                                <p class="nothing">
                                    Vous n'avez pas encore recruté de général. Il vous faudra construire un Quartier Général dans votre capitale auparavant.
                                </p>
                                <table class="blocks">
                                    <tbody>
                                    <tr>
                                        {# TODO Create General component
                                        <td>
                                            <div class="blocks_top">
                                                <h3 class="h3c">
                                                    <p class="gdef">
                                                        <a href="http://kingdom.muxxu.com/map?g=1513960">Gimli</a>
                                                    </p>
                                                </h3>
                                                <div class="blocks_bg">
                                                    <div class="blocks_bottom">
                                                        <div class="p">

                                                            En attente à <a
                                                                    href="http://kingdom.muxxu.com/map?c=785515">Yererus</a>

                                                        </div>
                                                        <p>

                                                            <img src="{{ asset('img/help.gif') }}"
                                                                 class="help"
                                                                 onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Réputation&lt;/h1&gt;La réputation de votre général grandit quand il remporte des batailles. Chaque point de réputation permet à votre général de réduire le coût en or des unités qui l\'accompagnent.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                 onmouseout="mt.js.Tip.hide()">

                                                            <span class="dt">Réputation</span> :

                                                            <strong>1</strong> <img
                                                                    src="./Kingdom - Gestion suzerain_files/l_rep.png">

                                                        </p>
                                                        <p>

                                                            <img src="{{ asset('img/help.gif') }}"
                                                                 class="help"
                                                                 onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Entretien&lt;/h1&gt;Le coût d\'entretien des soldats à chaque tour.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                 onmouseout="mt.js.Tip.hide()">

                                                            <span class="dt">Entretien</span> :

                                                            <strong>0</strong> <img
                                                                    src="./Kingdom - Gestion suzerain_files/res_gold.gif">

                                                        </p>


                                                        <ul class="ismall">


                                                            <li>
                                                                <div class=""
                                                                     onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Catapulte&lt;/h1&gt;Une catapulte est une unité ayant un bonus de +200% mais uniquement lors de l\'attaque d\'une ville ou d\'un lieu.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                     onmouseout="mt.js.Tip.hide()">
                                                                    <img src="./Kingdom - Gestion suzerain_files/unit_cat.gif"
                                                                         alt="">
                                                                    <span class="number">1</span>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                        <div class="clear"></div>


                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        #}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {# VASSALS #}
                            <div id="vassals" style="">
                                <p class="nothing">
                                    Vous n'avez actuellement aucun vassal. Il vous faudra d'abord conquérir de nouvelles capitales à l'aide de vos généraux.
                                </p>
                                <table class="blocks">
                                    <tbody>
                                    <tr>
                                        {# TODO Create Vassal component
                                        <td>
                                            <div class="blocks_top">
                                                <h3 class="h3c">
                                                    <a href="http://kingdom.muxxu.com/user/5350250">john-snow</a>
                                                </h3>
                                                <div class="blocks_bg">
                                                    <div class="blocks_bottom">
                                                        <p><span class="dt">Titre</span> : Seigneur
                                                        </p>
                                                        <p><span class="dt">Gloire</span> :
                                                            <strong>4</strong> <img
                                                                    src="{{ asset('img/icons/l_up.png') }}">
                                                        </p>
                                                        <p><span class="dt">Taxes</span> :
                                                            <strong>2</strong> <img
                                                                    src="{{ asset('img/icons/Small/res_gold.gif') }}">
                                                            (20%)</p>
                                                        <p><span class="dt">Taxes à Collecter</span>
                                                            :
                                                            <strong>27</strong> <img
                                                                    src="{{ asset('img/icons/Small/res_gold.gif') }}">
                                                            <a href="http://kingdom.muxxu.com/diplo/5350250?collect=5DaISH1F">Collecter</a>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        #}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {# KINGDOMS #}
                            <div id="kingdom" style="display: none;">
                                <p class="nothing">
                                    Vous ne contrôlez actuellement aucun lieu en plus de votre capitale. Il vous faudra d'abord en prendre le contrôle à l'aide de vos généraux.
                                </p>
                                <div class="tablevb_top">
                                    <div class="tablevb_bottom">
                                        <div class="tablevb_bg">
                                            <table class="tablevb">
                                                <tbody>

                                                {# Column names #}
                                                <tr class="first">
                                                    <th>
                                                        Ville
                                                    </th>
                                                    <th>
                                                        Statut
                                                    </th>
                                                    <th>
                                                        <a href="http://kingdom.muxxu.com/?tab=kingdom;s=trade"
                                                           onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Commerce&lt;/h1&gt;Le commerce généré ou perdu par le lieu à chaque tour de production&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                           onmouseout="mt.js.Tip.hide()"><img
                                                                    src=".{{ asset('img/icons/l_tax.png') }}"></a>
                                                    </th>
                                                    <th>
                                                        <a href="http://kingdom.muxxu.com/?tab=kingdom;s=cost"
                                                           onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Entretien&lt;/h1&gt;Le coût d\'entretien des soldats en défense ou en garnison à chaque tour de production.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                           onmouseout="mt.js.Tip.hide()">
                                                            <strong></strong> <img
                                                                    src="{{ asset('img/icons/Small/res_gold.gif') }}">
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a href="http://kingdom.muxxu.com/?tab=kingdom;s=units"
                                                           onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Unités&lt;/h1&gt;Le nombre de vos unités en défense ou en garnison sur ce lieu&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                           onmouseout="mt.js.Tip.hide()"><img
                                                                    src="{{ asset('img/icons/l_battle.png') }}"></a>
                                                    </th>
                                                </tr>

                                                {# Even row  #}
                                                <tr class="even">
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785507">Ilenastis-sur-Thicourt</a>
                                                    </td>
                                                    <td>
                                                        Votre Capitale
                                                    </td>
                                                    <td class="center">
                                                        <span onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Les villes ne génèrent pas de commerce&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                              onmouseout="mt.js.Tip.hide()">--</span>
                                                    </td>
                                                    <td class="center">0</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Défense&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;1&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Baliste&amp;lt;/h1&amp;gt;Une baliste est une unité ayant un bonus de +200% mais uniquement lors de la défense d\\\'une ville ou d\\\'un lieu.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_bal.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;1&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">2
                                                    </td>
                                                </tr>

                                                {# Uneven row  #}
                                                <tr>
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785503">Kereigne</a>
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td class="center">
                                                        <span onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Grâce à la protection de vos soldats, le commerce est en plein développement dans cette partie de votre Royaume !&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                              onmouseout="mt.js.Tip.hide()">4 <img src="{{ asset('img/icons/c_up.png') }}">
                                                        </span>
                                                    </td>

                                                    <td class="center">3</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;3&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">3
                                                    </td>
                                                </tr>

                                                <tr class="even">
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785508">Keronne</a>
                                                    </td>
                                                    <td>

                                                        &nbsp;

                                                    </td>
                                                    <td class="center">

                                                                                <span onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Le commerce se porte bien dans cette partie de votre Royaume, mais votre garnison a du mal à faire face au nombre croissant de bandits.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                                      onmouseout="mt.js.Tip.hide()">2 <img
                                                                                            src="{{ asset('img/icons/c_equal.png') }}"></span>

                                                    </td>


                                                    <td class="center">1</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;1&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">1
                                                    </td>


                                                </tr>

                                                <tr>
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785514">Agoult</a>
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td class="center">
                                                        <span
                                                                onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Le commerce se porte bien dans cette partie de votre Royaume, mais votre garnison a du mal à faire face au nombre croissant de bandits.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                onmouseout="mt.js.Tip.hide()">4 <img src="{{ asset('img/icons/c_equal.png') }}">
                                                        </span>
                                                    </td>

                                                    <td class="center">2</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;2&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">2
                                                    </td>


                                                </tr>

                                                <tr class="even">
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785497">Kerarletz</a>
                                                    </td>
                                                    <td>
                                                        Prairie
                                                        <div class="sres">
                                                            <img src="{{ asset('img/icons/small/res_horse.gif')}}"
                                                                 alt="">
                                                            <span class="number">50</span>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <span
                                                            onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Grâce à la protection de vos soldats, le commerce est en plein développement dans cette partie de votre Royaume !&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                            onmouseout="mt.js.Tip.hide()">4 <img src="{{ asset('img/icons/c_up.png') }}">
                                                        </span>
                                                    </td>


                                                    <td class="center">4</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;4&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">4
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785513">Casonnet</a>
                                                    </td>
                                                    <td>
                                                        Mine
                                                        <div class="sres">
                                                            <img src="{{ asset('img/icons/small/res_iron.gif')}}"
                                                                 alt="">
                                                            <span class="number">28</span>
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        <span
                                                                onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Grâce à la protection de vos soldats, le commerce est en plein développement dans cette partie de votre Royaume !&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                onmouseout="mt.js.Tip.hide()">1 <img src="{{ asset('img/icons/c_up.png') }}">
                                                        </span>

                                                    </td>


                                                    <td class="center">4</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;3&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Catapulte&amp;lt;/h1&amp;gt;Une catapulte est une unité ayant un bonus de +200% mais uniquement lors de l\\\'attaque d\\\'une ville ou d\\\'un lieu.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_cat.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;1&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">4
                                                    </td>


                                                </tr>

                                                <tr class="even">
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785515">Yererus</a>
                                                    </td>
                                                    <td>

                                                        &nbsp;

                                                    </td>
                                                    <td class="center">

                                                                                <span class="need"
                                                                                      onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Votre garnison lutte activement contre les bandits, mais sans renforts il leur faudra encore un certain temps avant de redresser la situation.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                                      onmouseout="mt.js.Tip.hide()">-4 <img
                                                                                            src="{{ asset('img/icons/c_up.png') }}"></span>

                                                    </td>


                                                    <td class="center">9</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;6&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Catapulte&amp;lt;/h1&amp;gt;Une catapulte est une unité ayant un bonus de +200% mais uniquement lors de l\\\'attaque d\\\'une ville ou d\\\'un lieu.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_cat.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;3&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">9
                                                    </td>


                                                </tr>

                                                <tr>
                                                    <td>
                                                        <a href="http://kingdom.muxxu.com/map?c=785475">Les
                                                            Thises-le-Bec</a></td>
                                                    <td>

                                                        Capitale du <a
                                                                href="http://kingdom.muxxu.com/user/5350250">Seigneur
                                                            john-snow</a>

                                                    </td>
                                                    <td class="center">

                                                                                <span onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Les villes ne génèrent pas de commerce&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                                                      onmouseout="mt.js.Tip.hide()">--</span>

                                                    </td>


                                                    <td class="center">1</td>
                                                    <td class="center"
                                                        onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;&lt;h1&gt;Garnison&lt;/h1&gt;\r\n	\r\n	&lt;ul class=&quot;ismall&quot;&gt;\r\n		\r\n		&lt;li&gt;\r\n	&lt;div class=&quot;&quot; onmouseover=&quot;mt.js.Tip.show(this,\'&amp;lt;div class=\\\'tiptop\\\'&amp;gt;&amp;lt;div class=\\\'tipbottom\\\'&amp;gt;&amp;lt;div class=\\\'tipbg\\\'&amp;gt;&amp;lt;h1&amp;gt;Soldat&amp;lt;/h1&amp;gt;Un bon soldat qui fera bien son travail tant qu\\\'il sera payé.&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;\')&quot; onmouseout=&quot;mt.js.Tip.hide()&quot;&gt;\r\n		&lt;img src=&quot;/img/icons/small/unit_sold.gif&quot; alt=&quot;&quot;/&gt;\r\n		&lt;span class=&quot;number&quot;&gt;1&lt;/span&gt;\r\n	&lt;/div&gt;\r\n&lt;/li&gt;\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n		\r\n	&lt;/ul&gt;\r\n	&lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;\r\n	\r\n&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                                        onmouseout="mt.js.Tip.hide()">1
                                                    </td>


                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# DIPLOMACY #}
                            <div id="diplo" style="display : none">
                                <p class="nothing">
                                    Vous n'avez pas encore d'accord diplomatique avec d'autres
                                    joueurs.
                                </p>

                                <a href="http://kingdom.muxxu.com/?tab=diplo;dinv=1" class="button"
                                   onmouseover="mt.js.Tip.show(this,'&lt;div class=\'tiptop\'&gt;&lt;div class=\'tipbottom\'&gt;&lt;div class=\'tipbg\'&gt;Voir les accords diplomatiques des autres joueurs vous concernant&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')"
                                   onmouseout="mt.js.Tip.hide()">Inverser</a>

                                <p>
                                    Chercher un joueur :
                                </p>

                                <form action="http://kingdom.muxxu.com/search" method="POST"
                                      class="searchpla">
                                    <div class="tid_userSearchContainer"
                                         style="width: 145px; height: 36px; float: left;"><img
                                                class="tid_loadingSearch"
                                                src="{{ asset('img/loading.gif') }}">
                                        <div class="tid_search_popup"
                                             style="display: none; margin-left: 25px;"></div>
                                        <div class="tid_search_popup" style="display:none"></div>
                                        <a href="http://kingdom.muxxu.com/#"
                                           class="tid_friendsButton"
                                           style="height: 36px; padding-top: 1px; line-height: 36px; z-index: 2; position: absolute;"><img
                                                    class="tid_down"
                                                    src="{{ asset('img/design/arrowDrop.png')}}"
                                                    alt=""><img class="tid_ficon"
                                                                src="{{ asset('img/icons/contact.png')}}"
                                                                alt=""></a><input name="name_name"
                                                                                  class="tid_userSearch inputtext tid_parsed tid_withFriends"
                                                                                  autocomplete="off"
                                                                                  style="width: 116px; height: 36px; float: none; position: absolute; z-index: 1; padding-left: 29px;"><input
                                                type="hidden" name="name" id="undefined"></div>
                                    <input type="submit" value="Chercher" class="button">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    tab('generals');
                </script>
            </td>
            <td class="right">
                <div class="box3">
                    <div class="box3bottom">
                        <div class="box3bg">
                            <h2 class="h2f" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Capitale</h1>Votre capitale est le centre de votre Royaume, vous pouvez y construire des bâtiments, déveloper votre population, et former vos armées</div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                <a href="/map?c=785490">{{ lord.city.name }}</a>
                            </h2>

                            <table class="homeres">
                                <tbody><tr>
                                    <td>
                                        <div class="homegest">


                                            <div class="res">
                                                <div class="resp"><span class="n">{{ lord.city.StorageCount('wheat') }}</span></div>
                                                <img src="{{ asset('img/icons/res_wheat.png')}}" alt="">
                                            </div>


                                            <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Quantité actuelle de nourriture</h1>Il s\'agit de la <em>nourriture</em> disponible dans les réserves de votre Capitale.</div></div></div>')" onmouseout="mt.js.Tip.hide()">


                                            <div class="line"></div>
                                            <ul>
                                                <li>

                                                    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'>Il s\'agit de la <em>nourriture</em> utilisée pour nourrir la population de la capitale après chaque tour de production.</div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/food_capital.gif')}}"><span>-{{ lord.city.PopulationCount }}/tour</span>
                                                </li>
                                            </ul>
                                            <div class="line"></div>
                                            <p class="total">Total :</p>  <p class="number">-{{ lord.city.PopulationCount }}/tour</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="homegest">

                                            <div class="res disable">
                                                <div class="resp"><span class="n">{{ lord.city.StorageCount('gold') }}</span></div>
                                                <img src="{{ asset('img/icons/res_gold.png')}}" alt="">
                                            </div>


                                            <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Quantité actuelle d\'or</h1>Il s\'agit de l\'<em>or</em> disponible dans les réserves de votre capitale.</div></div></div>')" onmouseout="mt.js.Tip.hide()">

                                            <div class="line"></div>
                                            <ul>
                                                <li>

                                                    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Entretien Total</h1>Il s\'agit de l\'<em>or</em> utilisé pour payer les soldats après chaque tour de production.</div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/gold_army.gif')}}"><span>0/tour</span>
                                                </li>
                                                <div class="line"></div>
                                                <li>

                                                    <img src="{{ asset('img/help.gif') }}" class="help" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Commerce Total</h1>Il s\'agit de l\'<em>or</em> que vous gagnez ou perdez après chaque tour de production grâce au commerce généré dans votre Royaume. <b>Votre suzerain prélève \r\n	<strong>0</strong> <img src=&quot;/img/icons/small/res_gold.gif&quot;/>\r\n de taxes sur votre commerce.</b></div></div></div>')" onmouseout="mt.js.Tip.hide()">
                                                    <img src="{{ asset('img/icons/gold_kingdom.gif')}}"><span>0/tour</span>
                                                </li>
                                            </ul>
                                            <div class="line"></div>
                                            <p class="total">Total :</p>  <p class="number">0/tour</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody></table>

                            <p><a href="/city/{{ app.request.get('id') }}" class="button">Gérer votre Capitale</a></p>

                            <h2 class="h2g" onmouseover="mt.js.Tip.show(this,'<div class=\'tiptop\'><div class=\'tipbottom\'><div class=\'tipbg\'><h1>Suzerain</h1>Si votre ville est conquise, vous aurez un suzerain qui taxera votre commerce</div></div></div>')" onmouseout="mt.js.Tip.hide()">Suzerain</h2>



                            <p class="nothing">
                                Votre capitale est actuellement libre, vous êtes votre propre Suzerain.
                            </p>


                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <a href="/map/3622/ranks" class="button">Classement</a>
                    <a href="/pantheon?uid=795" class="button">Panthéon</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="log">
        <h3>Historique de votre Royaume</h3>
        <ul>
            <li class="turn"><span class="datelog">Le 21 févr. à 15:25:12</span> -
                <img src="{{ asset('img/icons/l_new.png') }}">
                La ville de <a href="/map?c=785490">{{ lord.city.name }}</a> vous a été confiée et vous y avez établi votre capitale !
            </li>
        </ul>
    </div>
{% endblock %}
